################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
*.idea/
*.project
.spyderproject
.spyproject
.vscode


# TF and PyTorch model files
*.pb
*.pt

# batch processing API config files
api_config*.py

# Other
*.pth
*.o
debug.log
